<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
           <div>News Evaluator</div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Enter News URL Here">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>
                <strong id="fr">Form Results:</strong>
            <div class="result">                
                <div id="para">
                <div >Polarity:</div>
                <div >Subjectivity:</div>
                <div >Text:</div>
                </div>
                <div id="resu">
                <div id="polarity">.</div>
                <div id="subjectivity">.</div>
                <div id="text">.</div>
                </div>
            </div>
        </main>
    </body>
</html>
