body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex: 2;
    background-color: rgb(114, 114, 114);
    
}

section form {
    max-width: 800px;
    margin: 50px auto;
    background-color: rebeccapurple;
}

section .result{
    background-color: royalblue;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "para resu";
}

#para{
    grid-area: para;
}

#fr{

    padding-left: 20%;
    font-size: 1.3rem;
}

#resu{
    grid-area: resu;
}

.result{
    padding:2%;
    font-size: 1.1rem;
}

