header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30%;
    background-color: rgb(185, 185, 185);
    font-weight: bolder;
    font-size: 2rem;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:teal
}
